
<mat-toolbar><h2 style="margin-top: 5px;font-style: oblique;color :white;margin-left: 475px;">  ADD Country</h2> </mat-toolbar>
<div >
    <div >
    </div>

    <div >
        <div [hidden]="submitted" style="width: 500px;align-self: center;margin-left: 350px;margin-top: 50px;">
            <form [formGroup]="countrysave"  class="form" (ngSubmit)="saveCountry(saveCountry)">
                <div class="form-group">
                    <mat-form-field style="width: 100%;margin-bottom: 50px;background-color: black ;" appearance="fill">
                    <mat-label >Country name</mat-label>
                    <input matInput type="text" formControlName="name" data-toggle="tooltip" style="color: grey;" >
                    
                </mat-form-field>
                </div>




                <div class="form-group">
                    <mat-form-field style="width: 100%;margin-bottom: 50px;background-color: black;" appearance="fill">
                    <mat-label > Nunmber of Cities:</mat-label>
                    <input matInput type="number" formControlName="num_of_cities" data-toggle="tooltip" style="color: grey;"  >
                    
                    </mat-form-field>
                    
                </div>
                
            <button type="submit" mat-raised-button [disabled]="countryname.invalid || city.invalid"  color="accent" style="width: 100%;"> Submit</button>
            </form>

        </div>

    </div>
    <div class="col-sm-4"></div>



<div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
       <br>
       <button (click)="  addcountryF()" mat-raised-button color="accent" style="width: 59%;margin-left: 350px;">Add another Country</button>
   </div>

</div>
<div ></div>
</div> 


